= render "admin/shared/header"
= render "admin/shared/sidebar"
%section.content.profile-page
  = render "admin/shared/content_header"
  .container-fluid
    .row.clearfix
      .col-md-12
        .card.student-list
          .header
            %h2
              %strong= page_name
              = action_name.split('_').join(' ').titleize
          .body
            Terms & Conditions