= render "admin/shared/header"
= render "admin/shared/sidebar"
%section.content
  = render "admin/shared/content_header"
  .container-fluid
    .row.clearfix
      .col-lg-4.col-md-12.col-sm-12
        .card.member-card.bg-dark
          .member-img
            - if feedback_data(@feedback, 'image').present?
              %button.btn.btn-default.waves-effect.m-r-20{"data-target" => "#defaultModal", "data-toggle" => "modal", :type => "button", :style => "width: 25px; height: 25px; position: absolute; right: 0; bottom: 0; margin: 0; background: transparent;"}
                %i.zmdi.zmdi-fullscreen{:style => "font-size: 25px;"}
            %img{:alt => "Feedback Image", :src => feedback_data(@feedback, 'image')}
          .body
      .col-lg-8.col-md-12.col-sm-12
        .card
          .body
            %form
              .col-md-12
                .form-group
                  %label User
                  %input.form-control{:type => 'text', :value => @user_name, :readonly => true}
              .col-md-12
                .form-group
                  %label Description
                  %textarea.form-control{:type => 'text', :readonly => true, :style => "min-height: 100px; overlflow: auto;"}= feedback_data(@feedback, 'description')
              .col-md-12
                .form-group
                  %label Created
                  %input.form-control{:type => 'text', :value => feedback_data(@feedback, 'created'), :readonly => true}
              .col-md-4.hide
                .form-group
                  %input.form-control{:type => 'text', :value => @user_name, :readonly => true}
              .col-sm-12
                %hr
                %a.btn.btn-info.waves-effect.m-r-20{:href => "mailto:#{@email}"} RESPOND
= render "admin/feedbacks/image_modal"